section{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

img{
    width: 80%;
}

@media only screen and (max-width: 600px){
    section {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

